@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
}

header {
  position: sticky;
  top: 0;
  background: rgb(126, 217, 87);
  background: linear-gradient(
    261deg,
    rgba(126, 217, 87, 1) 19%,
    rgba(0, 151, 178, 1) 75%
  );
  z-index: 1;
}

.headerContent {
  display: flex;
  width: 1050px;
  margin: auto;
  justify-content: space-between;
}

header img {
  width: 10rem;
}

header ul {
  display: flex;
  list-style: none;
}

header ul li {
  margin-left: 1rem;
  line-height: 2.5rem;
}

header a {
  color: #f7f7f7;
  text-decoration: none;
}

main {
  height: 85vh;
  max-height: 600px;
  background: rgb(126, 217, 87);
  background: linear-gradient(
    261deg,
    rgba(126, 217, 87, 1) 19%,
    rgba(0, 151, 178, 1) 75%
  );
  padding: 0 10%;
}

.main_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1050px;
  margin: auto;
}

.textMain {
  width: 50%;
  color: #fff;
}

.subtitle {
  font-family: "Bitter", serif;
  letter-spacing: 0.2rem;
  font-size: 1rem;
}

.textMain h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 3.4rem;
  line-height: 3rem;
  margin: 1rem 0;
}

.descMain {
  max-width: 30rem;
}

.textMain a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  background-color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  margin-top: 2rem;
  text-transform: uppercase;
  border-radius: 0.5rem;
  transition: 0.5s;
}

.textMain a:hover {
  background-color: #dbdc30;
  color: #fff;
}

@keyframes float {
  0%,
  100% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-10px);
  }
}

.bgMain {
  width: 30vw;
  max-width: 500px;
  position: relative;
  animation: float 3s ease-in-out infinite;
}

#about {
  display: flex;
  align-items: center;
  margin-top: 6vh;
}

.container {
  min-height: 80vh;
  width: 1050px;
  max-width: 1500px;
  margin: auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleAbout {
  display: flex;
  font-size: 2.5rem;
  justify-content: center;
  color: #dbdc30;
}

.titleAbout img {
  width: 5rem;
}

.descAbout {
  width: 60%;
  margin: 2rem 0;
  font-size: 1.2rem;
  text-align: center;
}

.descAbout span {
  color: #dbdc30;
}

.cardsAbout {
  display: flex;
  justify-content: space-around;
}

.cardAbout {
  width: 25%;
  border: 1px solid #f7f7f7;
  text-align: center;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.cardAbout h3 {
  font-size: 2rem;
}

.cardAbout p {
  margin: 1rem 2rem;
}

.cardAbout img {
  width: 5rem;
}

#works {
  width: 1050px;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5rem 0;
}

.listWorks {
  width: 40%;
}

.listWorks h2 {
  font-size: 2.5rem;
  color: #dbdc30;
}

.listWorks li {
  font-size: 1.5rem;
  line-height: 2.5rem;
  display: flex;
  cursor: default;
  padding-left: 2rem;
}

.listWorks li label {
  cursor: pointer;
}

.listWorks li:hover {
  background-color: #dbdc30;
  border-radius: 0 5rem 5rem 0rem;
}

.listWorks li h2 {
  display: inline-block;
  font-size: 2.5rem;
  margin-right: 1rem;
  color: #000;
}

#workOne:checked ~ .descWorks,
#workTwo:checked ~ .descWorkTwo,
#workThree:checked ~ .descWorkThree,
#workFour:checked ~ .descWorkFour,
#workFive:checked ~ .descWorkFive,
#workSix:checked ~ .descWorkSix {
  display: block;
}

.descWorks,
.descWorkTwo,
.descWorkThree,
.descWorkFour,
.descWorkFive,
.descWorkSix {
  width: 40%;
  text-align: center;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}

#workOne,
#workTwo,
#workThree,
#workFour,
#workFive,
#workSix {
  display: none;
}

.descWorks img,
.descWorkTwo img,
.descWorkThree img,
.descWorkFour img,
.descWorkFive img,
.descWorkSix img {
  width: 20%;
}

#services {
  padding: 5rem 0;
  max-width: 1200px;
  margin: auto;
}

.containerServices {
  width: 90%;
  margin: auto;
  text-align: center;
}

.containerServices h2 {
  font-size: 2rem;
  color: #dbdc30;
}

.cardsSerivces {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.card {
  width: 30%;
  padding: 1rem 2rem;
  background-color: #dbdc30;
}

.card img {
  width: 7rem;
}

footer {
  background-color: #2a2929;
  height: 40vh;
}

.contactMe {
  background: rgb(126, 217, 87);
  background: linear-gradient(
    261deg,
    rgba(126, 217, 87, 1) 19%,
    rgba(0, 151, 178, 1) 75%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -4vh;
  padding: 2rem 4rem;
  width: 80%;
  margin: auto;
}

.textContact {
  display: flex;
  align-items: center;
}

.textContact img {
  width: 5rem;
}

.textContact h2 {
  font-size: 2.5rem;
  margin-left: 1rem;
  color: #fff;
}

.contactMe a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  background-color: #dbdc30;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  margin-top: 2rem;
  text-transform: uppercase;
  border-radius: 0.5rem;
  transition: 0.5s;
  text-align: center;
}

.footerInfo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  background-color: #2a2929;
  padding-bottom: 2rem;
}

.footerInfo h3 {
  font-size: 2.3rem;
}

.footerInfo ul {
  font-size: 1.1rem;
  list-style: none;
}

.footerInfo ul li {
  line-height: 2rem;
}

.footerInfo img {
  width: 20rem;
}

/* @media screen and (min-width: 1200px){
    .main_content, header
    {
        width: 70%;
        margin: auto;
    }
} */
